<!--<pre>-->
<!--{{ restaurants | json }}-->
<!--</pre>-->

<ul>
  <li *ngFor="let restaurant of restaurants">
    <span (click)="onRestaurantSelected(restaurant)">
      <b> {{ restaurant.name }}</b>
    </span>
  </li>
</ul>

<div *ngIf="selectedRestaurant">
  <app-restaurant-detail [restaurant]="selectedRestaurant"></app-restaurant-detail>
  <button class="btn btn-primary"
          (click)="onCloseClicked()">Close</button>
</div>

<!--<a [routerLink]="['/restaurants', 1]">Some Hero Here</a>-->
