<div class="form-style-5">
  <form>
    <fieldset>
      <legend><span class="number">1</span> Restaurant Info</legend>
      <input type="text" name="field1" placeholder="Restaurant Name">
      <input type="email" name="field2" placeholder="Restaurant Address">
      <textarea name="field3" placeholder="Why You Love this Restaurant"></textarea>
      <label for="job">Cuisine:</label>
      <select id="job" name="field4">
        <optgroup label="American">
          <option value="Southern">Southern</option>
          <option value="New York">New York</option>
          <option value="Californian">Californian</option>
          <option value="Creole">Creole</option>
          <option value="South Western">South Western</option>
          <option value="TexMex">TexMex</option>
          <option value="Other">Other</option>
        </optgroup>
        <optgroup label="International">
          <option value="Italian">Italian</option>
          <option value="French">French</option>
          <option value="Spanish">Spanish</option>
          <option value="Chinese">Chinese</option>
          <option value="Japanese">Japanese</option>
          <option value="Other">Other</option>
        </optgroup>
      </select>
    </fieldset>
    <fieldset>
      <legend><span class="number">2</span> Additional Restaurant Info</legend>
      <textarea name="field3" placeholder="About Your Favorite Restaurant"></textarea>
    </fieldset>
    <input type="submit" value="Add to Favorites" />
  </form>
</div>
